.tag {
  cursor: default;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 4px;
  @include tag-type($primary, $white);
  @include tag-size(4px, 10px, 14px);
  & + .tag {
    margin-left: 8px;
  }
  @include utils-user-select(none);

  &-type-primary {
    @include tag-type($primary, $white);
  }
  
  &-type-danger {
    @include tag-type($danger, $white);
  }

  &-type-warning {
    @include tag-type($warning, $white);
  }

  &-type-info {
    @include tag-type($info, $white);
  }

  &-type-success {
    @include tag-type($success, $white);
  }

  &-size-lg {
    @include tag-size(4px, 16px, 14px);
  }

  &-size-sm {
    @include tag-size(2px, 6px, 12px);
  }

  &-size-default {
    @include tag-size(4px, 10px, 13px);
  }
}
