{
   "extends": [
     "stylelint-config-sass-guidelines"
    ],
    "rules": {
      "rule-empty-line-before":"never",
      "declaration-colon-space-after":"never",
      "at-rule-no-unknown":null,
      "scss/dollar-variable-colon-space-after": "at-least-one-space",
      "declaration-bang-space-before":"always",
      "string-quotes":"double",
      "order/properties-alphabetical-order": null,
      "order/order":null,
      "max-nesting-depth":null
    },
    "ignoreFiles": ["node_modules/**/*","src/styles/_reboot.scss"]
  }