sudo: false

language: node_js

node_js:
  - "stable"

cache:
  directories:
    - node_modules

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  yarn install

script:
  - yarn run storybook-to-ghpages --ci
