@import '../../styles/variables.less';
@import './mixin.less';

@btn-prefix-cls: ~'@{art-prefix}-btn';

.@{btn-prefix-cls} {
  position: relative;
  display: inline-block;
  font-weight: @btn-font-weight;
  line-height: @btn-line-height;
  color: @body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: @btn-border-width solid transparent;
  outline: 0;
  background: none;
  background-image: none;
  .button-size( @btn-padding-x, @btn-padding-y, @btn-font-size,  @border-radius);

  box-shadow: @btn-box-shadow;
  cursor: pointer;
  transition: @btn-transition;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: @btn-disabled-opacity;
    box-shadow: none;

    > * {
      pointer-events: none;
    }
  }

  &.focus,
  &[focus],
  &.active,
  &[active] {
    outline: 0;
  }

  &-large {
    .button-size( @btn-padding-x-lg, @btn-padding-y-lg,@btn-font-size-lg, @btn-border-radius-lg);
  }

  &-small {
    .button-size(@btn-padding-x-sm, @btn-padding-y-sm,@btn-font-size-sm, @btn-border-radius-sm);
  }

  &-primary {
    .button-style(@primary, @white, @white);
  }

  &-primary&-danger {
    .button-style(@danger, @white, @white);
  }

  &-primary&-ghost {
    .button-style(transparent, @primary, @primary);
  }

  &-primary&-ghost&-danger {
    .button-style(transparent, @danger, @danger);
  }

  &-default {
    .button-style(@white, @gray-400, @body-color,@white,@primary, @primary);
  }

  &-default&-ghost {
    .button-style(transparent, @white, @white,transparent,@primary,@primary);
  }

  &-default&-danger {
    .button-style(transparent, @danger, @danger);
  }

  &-dashed {
    .button-style(@white, @gray-400, @body-color, @white, @primary, @primary);

    border-style: @border-dashed-style;
  }

  &-dashed&-ghost {
    .button-style(transparent, @white, @white,transparent,@primary,@primary);
  }

  &-ghost {
    .button-style(transparent, transparent, transparent);
  }

  &-danger {
    .button-style(@white, @danger, @danger);
  }

  &-link {
    font-weight: @font-weight-normal;
    color: @btn-link-color;
    text-decoration: @link-decoration;
    box-shadow: none;

    &:hover {
      color: @btn-link-hover-color;
      text-decoration: @link-hover-decoration;
    }

    &:focus,
    &.focus {
      text-decoration: @link-hover-decoration;
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      color: @btn-link-disabled-color;
      pointer-events: none;
    }
  }

  &-link&-danger {
    border: none;
    .button-style(@white, @danger, @danger);
  }

  &-block {
    width: 100%;
  }
}
