@import '../../styles/variables.less';
@import '../../styles/mixins.less';

@editor-prefix-cls: ~'@{art-prefix}-editor';

.@{editor-prefix-cls} {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  position: relative;

  &-header {
    padding: 8px;
    border-bottom: 1px solid #e8e8e8;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: start;
    .utils-user-select(none);

    li {
      cursor: default;
      color: #999;
      font-weight: bold;
      padding: 5px 5px;
      transition: color 0.3s;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      div {
        cursor: pointer;
        outline: none;
      }

      &:hover {
        color: #333;
      }
    }
  }

  &-main {
    min-height: 150px;
    padding: 20px;
    outline: none;
  }
}
